{% extends "base.html" %}
{% set show_back = True %}
{% block content %}


  <h1>Ejercicio 2 — Login de usuario</h1>

  <form method="post" novalidate>
    <label for="usuario">Usuario</label>
    <input id="usuario" name="usuario" type="text" required placeholder="juan o pepe">

    <label for="password">Contraseña</label>
    <input id="password" name="password" type="password" required placeholder="admin o user">

    <button class="submit" type="submit">Ingresar</button>
  </form>

  {% if mensaje %}
    <div class="alert {{ clase }}">{{ mensaje }}</div>
  {% endif %}
{% endblock %}
